$time-color: #ffffa8;
$inner-glow: rgb(182, 253, 182);
$outer-glow: rgb(125, 228, 28);

@mixin neon($inner, $outer) {
    text-shadow: 0 0 1vmin $inner, 0 0 2vmin $inner, 0 0 3vmin $inner, 0 0 0.4vmin $outer, 0 0 7vmin $outer, 0 0 8vmin $outer, 0 0 10vmin $outer, 0 0 150vmin $outer;
}

.neon {
    box-shadow: 0 0 0.1vmin $inner-glow, 0 0 0.2vmin $inner-glow, 0 0 0.3vmin $inner-glow, 0 0 0.4vmin $outer-glow, 0 0 0.7vmin $outer-glow, 0 0 0.8vmin $outer-glow, 0 0 1vmin $outer-glow, 0 0 15vmin $outer-glow;
}

.task {
    grid-area: timer;
}

#progress {
    grid-area: progress;
}


.nixie {
    position: relative;
    font-size: inherit;
    font-weight: 100;
    font-family: 'Lato';
    color: #bdb5c3;
    display: inline-block;
    width: 1ch;
    height: 1em;

    .break & span.active {
        color: orange;

        @include neon(orange, orangered);
    }

    span {
        color: transparent;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        user-select: none;
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        mix-blend-mode: soft-light;

        &.active {
            mix-blend-mode: normal;
            opacity: 1;
            color: $time-color;

            @include neon($inner-glow, $outer-glow);
        }
    }
}

.timer {
    font-size: 30vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: timer;
    color: $time-color;

    #seconds, #minutes {
        display: flex;
    }

    @media screen and (max-width: 600px) {
        font-size: 30vmin;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

input {
    font-size: 20px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: $inner-glow;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    vertical-align: bottom;
}

.grid-container {
    background-image: url("/images/noise.png");
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: "." "timer" "progress" ".";

    &:after {
        pointer-events: none;

        /* content is required when using :after */
        content: "";

        /* The grainy image */
        background-image: url("/images/noise.png");

        /* Specify a height and width above and beyond the page header for movement */
        height: 300%;
        width: 300%;

        /* We're using opacity in place of a transparent image */
        //opacity: 0.3;
        /* We'll need this when the animation kicks in to hold the position of the texture */
        position: fixed;
        left: -150%;
        top: -150%;
        animation: grain 8s steps(10) infinite;
    }
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -3%);
    }

    40% {
        transform: translate(-5%, 2%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0%);
    }

    70% {
        transform: translate(0%, 15%);
    }

    80% {
        transform: translate(3%, 4%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

.break {
    background-color: invert(#111);

    //color: invert(rgb(117, 117, 22));
}

html, body {
    background: radial-gradient(circle, #050505 0%, #010101 100%);
    margin: 0;
    line-height: 1;
    height: 100%;
    background-color: #111;
    color: rgb(117, 117, 22);
    font-family: 'B612 Mono', monospace;
}

body.break {
    background: radial-gradient(circle, #100600 0%, #010101 100%);
}
